body {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.3fr 1.7fr 1fr;
    grid-template-areas:
    "groups friends-stories userDetails"
    "friends articles live"
    "friends articles live";
}

#groups {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0 0;
    grid-template-areas:
    "h3"
    "ul"
    "ul";
    grid-area: groups;
}

#groups > h3 {
    grid-area: h3;
}

#groups > ul {
    grid-area: ul;
}

#friends {
    grid-area: friends;
}


#userDetails { grid-area: userDetails; }
#friends { grid-area: friends; }
#articles { grid-area: articles; }
#live { grid-area: live; }

main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.4fr 0.9fr 1.7fr 1fr;
    gap: 0 0;
    grid-template-areas:
    "header header header"
    "friends-stories friends-stories friends-stories friends-stories friends-stories friends-stories friends-stories friends-stories"
    "articles articles articles"
    "articles articles articles";
    grid-area: 1 / 2 / 4 / 3;
}

header {
    grid-area: header;
}

#friends-stories {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0 0;
    grid-template-areas:
    "story story story story story story story story"
    "story story story story story story story story";
    grid-area: friends-stories;
}

.story {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0 0;
    grid-template-areas:
    "img"
    "h5";
    grid-area: storay;
}
.story-img-wrapper {
    grid-area: img;
}
.story-img-wrapper > img {
    size: 50px 50px;
}

.story > h5 {
    grid-area: h5;
}

.articles {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0 0;
    grid-template-areas:
    "article"
    "article";
    grid-area: articles;
}

article {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0 0;
    grid-template-areas:
    "article-img article-details"
    "article-img article-details";
    grid-area: article;
}
.article-img { grid-area: article-img }
.article-details {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0 0;
    grid-template-areas:
    "article-header"
    "article-description";
    grid-area: article-details;
}
.article-header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0 0;
    grid-template-areas:
    "date";
    grid-area: article-header;
}
.date { grid-area: date; }
.article-description { grid-area: article-description; }
#userDetails {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0 0;
    grid-template-areas:
    "notifications loggedUser";
    grid-area: 1 / 3 / 2 / 4;
}
#notifications { grid-area: notifications; }
#loggedUser { grid-area: loggedUser; }
#live {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0 0;
    grid-template-areas:
    "live-img-bg"
    "comments"
    "write-comment";
    grid-area: 2 / 3 / 4 / 4;
}
#live-img-bg { grid-area: live-img-bg; }
#comments {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0 0;
    grid-template-areas:
    "commenter-image comment-details comment-details timing"
    "commenter-image comment-details comment-details timing";
    grid-area: comments;
}
.comment > img { grid-area: commenter-image; }
.comment-details {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0 0;
    grid-template-areas:
    "name-surname"
    "actual-comment-message";
    grid-area: comment-details;
}
.comment-details > h5 { grid-area: name-surname; }
.comment-details > p { grid-area: actual-comment-message; }
.timing { grid-area: timing; }
#write-comment {
    display: grid;
    grid-template-columns: 1.5fr 0.5fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-template-areas:
    "input button";
    grid-area: write-comment;
}
#write-comment > input { grid-area: input; }
#write-comment > button { grid-area: button; }